.talk {
    background:rgba(0, 0, 0, 0.5);
    box-shadow:inset 0 5px 10px rgba(255, 255, 255, 0.6);
    width:100;
    color:rgb(247, 241, 241);
    padding:0;
    line-height:normal;
    text-align:left;
    display:inline-block;
    position:absolute;
    font-size:22px;
    height:26px;
    font-family:'londonmidlandregular', consolas, monospace;
}
.hello{
    width:100;
    color:rgb(2, 6, 56);
    padding:0;
    line-height:normal;
    text-align:left;
    display:inline-block;
    position:absolute;
    font-size:30px;
    font-weight: bold;
    height:20px;
    font-family:'londonmidlandregular', consolas, monospace;
}
body {
    background:url(https://i.imgur.com/UCBuS5q.png);
    background-size:cover;
    background-position:bottom center;
    background-attachment:fixed;
}
header.smaller {
    height: 75px;
}

header.smaller h1#logo {
    width: 150px;
    height: 75px;
    line-height: 55px;
    font-size: 55px;
    margin: 0;
}

header.smaller nav a {
    line-height: 75px;
}

/* *,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

body {
    color: #505050;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    width: 100%;
    height: auto;
}

/* h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: 600;
    color: #77C7AC;
} */

a {
    text-decoration: none;
    color: #fcfcfc;
    font-weight: 300;
}

a:hover {
    transition: all 0.3s ease;
    color: #3c3c3c;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 30px;
}

header {
    width: 100%;
    height: 10em;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  border-bottom:solid 0.5em #f4f4f4;
    background-color: #394e63;
    transition: height 0.3s;
}

header h1#logo {
    display: inline-block;
    line-height:3em;
   margin: 0;
   padding:0 1em;
   background-color:#fd5559;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    color: #fcfcfc;
  text-shadow: 0.1em 0.03em #C0392B;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header nav {
    display: inline-block;
    float: right;
}

header nav a {
    line-height: 150px;
    margin-left: 20px;
    color: #fcfcfc;
    font-weight: 300;
    font-size: 1.5em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header nav a:hover {
    color: #fd5559;
}

header.smaller {
    height: 75px;
}

header.smaller h1#logo {
    line-height: 75px;
    font-size: 30px;
}

header.smaller nav a {
    line-height: 75px;
}



@media all and (max-width: 760px) {
    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;     
        line-height: 80px;
        text-align: center;
    }

    header nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }

    header nav a {
        line-height: 50px;
        margin: 0 10px;
    }

    header.smaller {
        height: 75px;
    }

    header.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px;
     width:100%;
    }

    header.smaller nav {
        height: 35px;
    }

    header.smaller nav a {
        line-height: 35px;
    }
  

}

@media all and (max-width: 600px) {
    

}
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
	background:url(https://i.imgur.com/UCBuS5q.png);
	background-size:cover;
	background-position:bottom center;
	background-attachment:fixed;
}

#info {
    position:absolute;
    width:300px;
    height:190px;
    border-radius:10px;
    border:1px solid rgba(255,255,255,0.7);
    background:rgba(0, 0, 0, 0.7);
    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(0, 0, 0, 0.8), inset 0 10px 10px rgba(255, 255, 255, 0.4);
	margin:auto;
	top:0;
	left:0;
	bottom:0;
	right:0;
	font-family:"Helvetica Neue","Helvetica",Arial,sans-serif;
}

.infobox {
    margin:4px;
    margin-top:20px;
    padding:5px;
    background:#fff;
    box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.6), inset -20px 0 20px rgba(0,0,0,0.1);
    height:135px;
    border-radius:5px;
	overflow:hidden;
}

.buttons {
	width:185px;
	padding-left:100px;
	margin-left:2px;
	height:45px;
	margin-top:-5px;
	border-bottom:1px solid rgba(0,0,0,0.35);
	background:transparent;
	position:absolute;
	padding-bottom:3px;
	z-index:1;
	overflow:hidden;
	border-top-right-radius:5px;
}

.buttons::before {
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	background:#fff;
	box-shadow:inset -20px 0 20px rgba(0,0,0,0.2), inset 0 -3px 5px rgba(0,0,0,0.1);
	z-index:0;
	left:0;
}

.boxtitle {
    text-align:center;
    padding:0px 10px;
    position:absolute;
    font-family:'Audiowide', consolas, monospace;
    font-size:8px;
    line-height:20px;
    width:280px;
    color:#ffcb05;
    text-transform:uppercase;
    text-shadow:0 0 3px #000;
}

.character {
    position:absolute;
    width:100px;
    border:1px solid rgba(0, 0, 0, 0.35);
    border-radius:5px;
    height:133px;
    margin:0px;
    box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.35);
	z-index:5;
	background:#fff;
}

.shadow {
    position:absolute;
    width:40px;
    height:5px;
    border-radius:90%;
    box-shadow:0 0 15px 5px rgba(0, 0, 0, 0.3), inset 0 0 60px rgba(0, 0, 0, 0.3);
    margin:0 30px;
    margin-top:100px;
	background:#fff;
}

.name {
    position:absolute;
    margin:3px;
    border-radius:5px;
    padding:0px;
    border:3px double #529ecc;
    height:15px;
    line-height:15px;
    width:88px;
    margin-top:110px;
    font-family:helvetica;
    font-size:12px;
    text-align:center;
    letter-spacing:0.5px;
    color:#fff;
}

.maple {
	position:absolute;
	bottom:28px;
	left:25px;
	z-index:1;
}

.neinheart {
    position:absolute;
    margin-left:105px;
    background:#fff;
    border:1px solid rgba(0, 0, 0, 0.35);
    border-radius:5px;
    box-shadow:inset 0 5px 5px rgba(0, 0, 0, 0.1);
    height:14px;
    line-height:14px;
    width:175px;
    font-family:helvetica;
    font-weight:normal;
    color:#666;
    font-size:12px;
	white-space:nowrap;
}

.mihile {margin-top:47px;}
.eckhart {margin-top:65px;}
.irena {margin-top:83px;}
.oz {margin-top:101px;}
.hawkeye {margin-top:119px;}

.cygnus {
    background:rgba(0, 0, 0, 0.5);
    box-shadow:inset 0 5px 10px rgba(255, 255, 255, 0.6);
    width:39px;
    color:#fff;
    padding:0px 3px;
    line-height:14px;
    text-align:right;
    display:inline-block;
    position:absolute;
    font-size:8px;
    height:14px;
    text-transform:uppercase;
    font-family:'londonmidlandregular', consolas, monospace;
}

.shinsoo {margin-left:50px;}
#maplez {cursor:pointer;}